/*
========================================================================================
    Nextflow config file for HPC specific parameters
========================================================================================
*/

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/singularity_images"
	runOptions = "-B ${PWD}/tmp/:/tmp/ -B /mnt/bioinfnas:/mnt/bioinfnas -B /mnt/petasan_immuno:/mnt/petasan_immuno"
}


executor {
	name = 'slurm'
	pollInterval = '30sec'
	submitRateLimit = '10 sec'
	queueSize = 10
}

process {
    executor = 'slurm'
    queue = { task.time <= 5.h && task.memory <= 10.GB ? 'short' : (task.time >= 10.d || task.memory >= 72.GB ? 'highmem' : 'long') }
    max_memory = 224.GB
	max_cpus = 32
    errorStrategy = 'finish'
    cache = 'lenient'
    
    withName: 'NF_MHC_HAMMER:MHC_HAMMER:HLAHD' {
        memory = 32.GB
    }
}

params {
    hlahd_ignored_read_length  = 50  
}
